@import "tailwindcss";


@layer utilities{

    /*<---------------------SideBar.jsx--------------------->*/
    aside{
        @apply bg-[#f7f7f7] top-[15px] w-[200px] fixed ml-4 min-h-[90vh] shadow-[-5px_0_10px_#bababa] flex flex-col gap-6 rounded-lg z-[100];
        transition: left 400ms;
    }
    .sidebar-icon-container{
        @apply p-2 rounded-md shadow-[0_3px_3px_#bababa] transition-colors duration-300;
    }
    .active-navitem{
        @apply text-white;
        background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
    }

    /*<---------------------SideBar.jsx--------------------->*/
    .password-input-component{
    }
    .info-icon{
        @apply text-gray-500;
    }
    .info-icon-container{
      
        &:hover > .password-criteria-popup{
            @apply block;
        }
    }
    .password-criteria-popup{
        @apply absolute top-[50px] shadow-2xl -right-[20px] rounded-lg bg-[#383838] text-white w-max py-4 pl-8 pr-4 hidden;
        /* clip-path: polygon(0% 50%,5% 45%,5% 0%,100% 0%,100% 100%,5% 100%,5% 55%,0% 50%); */
    }

    /* #vijay:checked ~ .selected-directors-container >.selected-vijay ,#vijay:checked ~ .label-container>ul>label>.vijay-label { 
        display: flex;
    }
    #ajith:checked~.selected-directors-container >.selected-ajith,#ajith:checked ~ .label-container>ul>label>.ajith-label{
        display: flex;
    }#vikram:checked ~ .selected-directors-container >.selected-vikram,#vikram:checked ~ .label-container>ul>label>.vikram-label{
        display: flex;
    }#surya:checked ~ .selected-directors-container >.selected-surya,#surya:checked ~ .label-container>ul>label>.surya-label{
        display: flex;
    }#sk:checked ~ .selected-directors-container >.selected-sk,#sk:checked ~ .label-container>ul>label>.sk-label{
        display: flex;
    }
    #vijay:not(:checked) ~ .selected-directors-container >.selected-vijay,
    #ajith:not(:checked) ~ .selected-directors-container >.selected-ajith,
    #vikram:not(:checked) ~ .selected-directors-container >.selected-vikram,
    #surya:not(:checked) ~ .selected-directors-container >.selected-surya,
    #sk:not(:checked) ~ .selected-directors-container >.selected-sk{
        display: none;
    }

    .selected-directors-container{
        content: '';
        
    } */

}
@layer components{
    /*<---------------------SignUp.jsx--------------------->*/
    .sign-up-container{
        background-image: linear-gradient(to right top, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
        
    }
    .label-input-container{
        @apply flex flex-col gap-2 w-full;
    }
    .label-component{
        @apply text-lg text-gray-500 font-normal flex items-center gap-1 w-full; 
    }
    .input-component{
        @apply border-[1px] border-gray-500 px-4 py-2 rounded-md text-[1rem] w-full ;
        @apply focus-visible:outline-0 focus-visible:shadow-lg;
    }
    .button-component{
        @apply bg-[#383838] text-white px-2 py-2 rounded-md w-3/4;
        &:disabled{
            @apply bg-[#c6c6c6] text-gray-500;
            cursor: not-allowed;

        }
    }
}